// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)

//Bootstrap breakpoints, men custom breakpoint
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        mg: 850px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
        xxxl: 1950px,
);

@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;
$black: #121212;
$white: #FFFBF5;

$primary: #67D27A;
$secondary: #FF4953;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

//--------------- BODY ---------------//
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
//-------------------------------------//


//-------- (INDEX) BG GRADIENT --------//
.login-bg-gradient {
  background: #70E585;

  //Gradient lavet med: https://cssgradient.io
  background: linear-gradient(180deg, rgba(112, 229, 133, 1) 0%, rgba(72, 145, 85, 1) 100%
  );
}
//-------------------------------------//


//-------- (INDEX) CIRCLE I BG --------//
//Tilføjer cirkler i baggrunden
.login-circle {
  position: absolute;
  opacity: 0.25;
  z-index: -1;
}

//Placere hvert elementerne det rigtige sted
.login-c1 {
  width: 450px;
  top: -110px;
  left: -120px;
}

.login-c2 {
  width: 300px;
  top: 350px;
  right: -60px;
}

.login-c3 {
  width: 150px;
  top: 550px;
  right: 100px;
}

.login-c4 {
  width: 350px;
  top: 850px;
  left: -100px;
}

.login-c5 {
  width: 180px;
  top: 750px;
  left: 30px;;
}
//-------------------------------------//


//--------- (INDEX) CONTAINER ---------//
.login-container {
  padding-top: 120px;
  padding-bottom: 150px;
}
//-------------------------------------//


//----------- (INDEX) LOGO ------------//
.login-logo {
  width: 250px;

  //Shadow lavet med: https://html-css-js.com/css/generator/box-shadow/
  filter: drop-shadow(0 4px 10px rgba(0,0,0,0.35));
}
//-------------------------------------//


//----------- (INDEX) TEXT ------------//
.login-text {
  //Shadow lavet med: https://html-css-js.com/css/generator/box-shadow/
  filter: drop-shadow(0 4px 10px rgba(0,0,0,0.35));
}
//-------------------------------------//


//----------- (INDEX) LOGIN -----------//
.login-btn,
.akut-btn {
  width: 75%;
  max-width: 360px;
  border-radius: 25px;
  padding: 14px 0;
  font-weight: 600;
  border: none;

  //Shadow lavet med: https://html-css-js.com/css/generator/box-shadow/
  box-shadow: 0 4px 10px rgba(0,0,0,0.35);
}

// Login knap
.login-btn {
  color: #31c84b;
  background: #ffffff;
  font-size: 24px;

  //Gradient lavet med: https://cssgradient.io
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
}

// Rød knap
.akut-btn {
  color: $white;
  background: #FF4953;
  font-size: 23px;

  //Gradient lavet med: https://cssgradient.io
  background: linear-gradient(180deg, rgba(255, 73, 83, 1) 0%, rgba(179, 52, 59, 1) 100%);
}
//-------------------------------------//


//------------ (INDEX) WAVE -----------//
.login-wave {
  position: absolute;
  bottom: -15px;
  left: 0;
  z-index: 2;
}
//-------------------------------------//


//-------- (INDEX) LOGIN MODAL --------//
.login-modal {
  background: #efeff4;
}

.modal-login-btn {
  border-radius: 50px;
  padding: 14px 0;
  border: none;

  color: white;
  font-size: 24px;
  font-weight: 700;

  //Gradient lavet med: https://cssgradient.io
  background: linear-gradient(180deg,rgba(84, 177, 100, 1) 0%, rgba(96, 167, 109, 1) 100%);
}

// Fast størrelse på modal
#loginModal .modal-dialog {
  width: 400px;
  max-width: 400px;

  margin: auto;
}
//-------------------------------------//








//--------------- USER.PHP STYLING ---------------//
//--------------- TOP CONTAINER ---------------//
.top_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 20px 25px;
}

//--------------- ARROW ---------------//
.arrow_back{
  padding-top: 13px;
  padding-left: 8px;
}

.fa-chevron-left{
  font-size: 25px;
}

//--------------- POINTS CONTAINER ---------------//
.money_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;

  padding: 10px 10px 5px 13px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.money_count{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.money_image{
  height: 35px;
  margin-top: -15px;
  margin-bottom: -10px;
}

//--------------- AVATAR ---------------//
.avatar_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.avatar{
  position: relative;
  left: 20px;
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #88DE98;
}

.settings_button{
  position: relative;
  top: 65px;
  right: 25px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #88DE98;
  font-size: 20px;
}

.username{
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

//--------------- SCORE CONTAINER ---------------//
.score_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 35px 20px;
  margin: 0 25px;
}

.score{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score_text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progress{
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 70vw;
  //Når du tager den til desktop version, husk at tilføje @include(breakpoint) med width, som er ikke vw, men % eller px
}

//--------------- LINKS SECTION ---------------//
.links_section{
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin: 25px;
}

.link_tile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding: 20px;
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.10);
  border-radius: 20px;
}

.h2_bold{
  font-weight: bold;
  font-size: 20px;
}

.plus_money{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.money_plus_image{
  height: 35px;
  margin-top: -15px;
}

.money_image_big{
  height: 80px;
}

//--------------- LOG UD KNAP ---------------//
.logout{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #FF4953;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  padding: 15px 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 100px;
  font-size: 24px;
}