// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)

//Bootstrap breakpoints, men custom breakpoint
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        mg: 850px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
        xxxl: 1950px,
);

@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;
$black: #121212;
$white: #FFFBF5;

$primary: #67D27A;
$secondary: #FF4953;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

//--------------- BODY ---------------//
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}